<%= javascript_include_tag "main" %>
<% javascript_tag do %>
  Ext.onReady(function() {
    Global.menu_panel.addItem({
      url: '<%= url_for :controller => "rehearsals" %>',
      text: 'Репы',
      iconCls: 'rehearsals-icon'
    });
    
    Global.menu_panel.addItem({
      url: '<%= adminships_url %>',
      text: 'Администрирование',
      iconCls: 'adminships-icon'
    });
    
    Global.menu_panel.addItem({
      url: '<%= purchases_url %>',
      text: 'Покупки',
      iconCls: 'purchases-icon'
    });
  });
<% end %>
<div id="header">
  <h1>High Five Studio Admin Area</h1>
  <%= link_to "Выйти", logout_url, :class => "logout" %>
</div>
